/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 14px;
}

.quote-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quote-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.quote-container p {
    margin: 0;
    line-height: 1.6;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: darkgreen;
}

.result {
    margin-top: 20px;
    font-size: 14px;
}

.intro-para {
    padding-bottom: 20px;
    font-size: 16px;
}

.vehicle-name {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.vehicle-name-link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.vehicle-name-link p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #0073e6;
}

.details {
    margin-top: 20px;
    line-height: 1.6;
}

.paragraph-padding {
    padding-bottom: 20px;
}

#security-guard {
    font-size: 12px;
    font-style: italic;
}

.quote-info {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid #eee;
    font-size: 14px;
}

.quote-heading{
    font-size: 20px;
}

.quote-info p {
    margin-bottom: 10px;
}

.total {
    font-weight: bold;
    font-size: 18px;
}

.reserve-btn {
    display: block;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;
}

.reserve-btn a {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.reserve-btn a:hover {
    background-color: darkgreen;
}

.image-container, .video-container {
    text-align: left;
    margin-top: 20px;
}

.image-container img,
.video-container img {
    max-width: 100%;
    max-height: 200px; /* Consistent height for both images and videos */
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image/video fits within the given dimensions */
}

.copy-btn {
    text-align: center;
    margin-top: 10px; /* Smaller margin for more compact design */
}

.copy-btn button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px; /* Smaller padding for a smaller button */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Smaller font size for the button text */
}

.copy-btn button:hover {
    background-color: #0056b3;
}

.alcohol-policy{
    padding-top: 10px;
}


/* Smaller Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .switch-label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  

  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.intro-para {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.8;
    font-family: 'Arial', sans-serif;
    text-align: left;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
}
.total {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0 !important;
}

.all-inclusive {
    font-size: 14px;
    color: green;
    margin-left: 5px;
}

.quote-expiry {
    font-size: 14px;
    color: #888;
    font-style: italic;

}
